.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('assets/images/background.jpg');
  overflow: hidden;
}

.square {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url('assets/images/person.png');
  transition: left 0.1s, top 0.1s;
}
.enemy {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: red;
  transition: left 0.1s, top 0.1s;
  background-image: url('assets/images/enemy.png');
}
.weapon {
  position: absolute;
  transition: left 0.1s, top 0.1s;
  background-image: url('assets/images/sword.jpg');
}
.health-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 15px;
  img {
    width: 60px;
    height: 35px;
    opacity: 0.5;
  }
}
.timer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
}
.power-up {
  position: absolute;
  width: 50px;
  height: 50px;
}
.power-up.time {
  background-image: url('assets/images/time-power-up.png');
}
.power-up.health {
  background-image: url('assets/images/health-power-up.png');
}
.power-up.refresh {
  background-image: url('assets/images/refresh-power-up.png');
}
